.social_media{
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 195px;
    background-image: url(./../../assets/pattern-hills.svg);
    background-position: center;
    z-index: -10;

    .attribution{
        color: $white;

        a{
            color: $secondary-color;
        }
    }
}
