@import '../base';

.time_adjuster{
    position: fixed;
    max-width: 425px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, .3)), radial-gradient(circle at 100% 50%, $primary-color, $secondary-color, $dark-desaturated-blue);
    box-shadow: 0px 0px 75px -37px $white, 0px 0px 11px 0px $secondary-color; 
    position: absolute;
    padding: 1em;
    border-radius: 10px;
    z-index: 100;

    h3{
        color: $white;
        font-weight: 500;
    }

    .time_set{
        position: relative;
        margin: 1em auto;
        max-width: 315px;
        background-color: transparent;
        border-radius: 5px;
        color: white;

        input[type="number"]{
            height: 40px;
            width: 40px;
            font-weight: 900;
            text-align: center;
            border: none;
            border-bottom: 2px solid $secondary-color;
            border-radius: 4px;
            color: $dark-desaturated-blue;
            outline: none;
            cursor: pointer;
        }
    }

    .time_set > div{
        display: inline-block;
        margin-right: .5em;
    }

    .time_set::before{
        @extend %arrows_timer;
        top: 0;
    }

    .time_set::after{
        @extend %arrows_timer;
        bottom: 0;
        transform: rotate(180deg);
    }

    .time_options{
        max-width: 300px;
        margin: 0 auto;
        text-align: center;

        > button {
            width: 100px;
            padding: .5em .8em;
            margin: 3px;
            background-color: transparent;
            font-weight: 900;
            background-image: linear-gradient(to right, $dark-desaturated-blue, $darker-blue);
            border-radius: 5px;
            border: 1px solid $dark-desaturated-blue;
            text-shadow: 0 0 3px black;
            color: $white;
            cursor: pointer;
            outline: none;
        }

        > button:hover{
            background-image: none;
            background-color: $dark-desaturated-blue;
        }
    }

    .time_number{
        margin-top: 1em;
        margin-bottom: 1em;
        
        > button{
            padding: 10px;
            border: 2px solid $dark-desaturated-blue;
            cursor: pointer;
            outline: none;
        }

        > button:hover{
            background-color: $dark-desaturated-blue;
            color: $white;
        }
    }

    button[type="reset"], button[type="submit"]{
        padding: .8em 1.3em;
        margin: 0 .5em;
        box-shadow: 0 0 15px -8px $dark-desaturated-blue;
        border: none;
        font-size: 1.1rem;
        color: $darker-blue;
        cursor: pointer;
        outline: none;
        transition: all .3s linear;
    }

    button[type="reset"]:hover, button[type="submit"]:hover{

        background-image: linear-gradient(to right, $dark-desaturated-blue, $dark-blue);
        color: $white;
    }
}


@media screen and (max-width: 425px){

    .time_adjuster{
        display: none;
        top: 25%;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 426px){

    .time_adjuster{
        display: none;
        right: -100%;
    }
}